<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Declaration of configuration sections (DO NOT CHANGE) -->
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MpcHcFrontend4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <!-- Entity Framework settings (DO NOT CHANGE) -->
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="System.Data.SqlServerCe.4.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
        </providers>
    </entityFramework>

    <!-- ADO.NET provider factories for EF (DO NOT CHANGE) -->
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>

    <!-- User settings -->
    <userSettings>
        <MpcHcFrontend4.Properties.Settings>
            <setting name="FFPROBE_FOLDER" serializeAs="String">
                <value>e:\tools\ffmpeg\bin\</value>
            </setting>
            <setting name="DATABASE_FOLDER" serializeAs="String">
                <value>c:\Users\neo\Desktop\</value>
            </setting>
            <setting name="DATABASE_NAME" serializeAs="String">
                <value>mediadb</value>
            </setting>
            <setting name="ENABLE_LOGGING" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="LOG_FILE" serializeAs="String">
                <value>MpcHcFrontend4.log</value>
            </setting>
            <setting name="MPC_HC_FOLDER" serializeAs="String">
                <value>e:\tools\mpc-hc-1.7.1-x86\</value>
            </setting>
            <setting name="ALLOWED_FILE_EXTENSIONS" serializeAs="String">
                <value>avi;divx;flv;mkv;mp4;mpg</value>
            </setting>
        </MpcHcFrontend4.Properties.Settings>
    </userSettings>
</configuration>